<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nju.ar.mapper.SearchMovieMapper">
	
  
 <!-- 查询名为name的Movie-->
 	<select id="searchMovieByName" resultType="MovieResult">
 		select m.name as name,type,averageScore as score,last,c.name as cinema_name,
 		c.address as cinema_address,hall,date,startAt as start,endAt as end,
 		bPrice as noumi_price,tPrice as taopiaopiao_price,yPrice as yupiaoer_price
 		from finalSession s,finalMovie m,finalCinema c
 		where s.movieId=m.id and s.cinemaId=c.id and m.name=#{0}
 	</select>
 	
 <!-- 模糊查找名为name的电影的列表-->
 	<select id="searchMovieListByName" resultType="MovieInfo">
 		select * from finalMovie where name like "%"#{0}"%"
 	</select>
 	
 	
 	<!--查找上电影（id）的影院-->
 	<select id="searchCinemaListById" resultType="CinemaInfo">
 		select * from finalCinema where id in (select c.id from finalCinema c,
 		finalSession s where c.id=s.cinemaId and s.movieId=#{0})
	</select>
	
	<!--根据电影id和影院id查找具体信息-->
 	<select id="searchDetailByMidAndCid" resultType="Detail">
 		select * from finalSession where movieId=#{0} and cinemaId=#{1}
	</select>
 	
 	
 	<!--根据电影id找电影-->
 	<select id="searchMoiveById" resultType="MovieInfo">
 		select * from finalMovie where id=#{0}
	</select>
	
	<!--根据电影id和影院id查找具体信息-->
 	<select id="searchCinemaById" resultType="CinemaInfo">
 		select * from finalCinema where id=#{0}
	</select>

  </mapper>
